

div#photo {
    background: url(../img/imagen/PHP.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    max-width: 100%;	
}

div#gallery {
    width: 370px;
    height: 80px;
    display: inline-block;
    float: left;
    margin: auto;
    overflow-y: scroll;}


div#gallery > a > img:hover {
    opacity: 0.5;
}


video,iframe{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

main {
    margin: auto;
	min-height:56vh;
}


footer {
    background: RGB(55, 86, 153);
    color: white;
    margin: auto;
    border-top: 1px grey solid;
    clear: both;
}

footer p {
    text-align: center;
}

table.table td {
    width: 20em;
}

.notaFinal p {
    text-align: right;
    font-weight: 700;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

/* Menú */

#ver {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

#ver img {
    width: 20%;
    display: block;
    margin: auto;
}

#btn-menu {
    display: none;
}

#btn-menu:checked ~ #ver {
    display: block;
    height: 100vh;
}

#btn-menu:checked ~ #ver li {
    margin: auto;
    width: 10em;
    border-bottom: 1px white solid;
}

.fa {
    font-size: 2em;
    cursor: pointer;
}

.superior {
    z-index: 100;
    position: absolute;
}

.image {
    text-align: center;
}

a.button-a {
    display: inline-block;
    background: #5cb85c;
    color: white;
    padding: .5em;
    margin: .2em;
    border-radius: 5px;
    text-decoration: none;
}

.container {
    min-height: calc(100vh - 112px);
}

form {
    text-align: center;
}

input,
textarea {
    width: 10em;
}

label {
    text-align: left;
    width: 10em;
    display: block;
    margin: auto;
}
.item{
	width:30%;
	display: inline-block;
    text-align:center;
}
.item > a:hover{
transition-property: all;
  transition-duration:1s;
	background: RGB(249, 201, 90);
	color:#000000;
}
.item > a{
	background: RGB(55, 86, 153);
	color: white;
    width: 100%;
    display: block;
    text-decoration: none;
}

#cod{
    display: block;
    margin: 1em auto;
	max-width:100%;
}


@media (min-width:574px) {
iframe{
	width:560px; height:315px;

}

    body {
        position: relative;
        min-height: 100vh;
        padding-bottom: 81px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #ver {
        background: none;
        display: block;
        position: relative
    }
    #btn-menu {
        display: none;
    }
    .fa {
        display: none;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .nav-item {
        display: inline-block;
    }

    nav ul {
        display: inline;
    }

    #contenido {
        text-align: center;
    }

}

@media (min-width:841px){
	main{
		width:800px;
	}
	
	div#photo {
		display: inline-block;
		background: url(../img/imagen/PHP.jpg);
		background-repeat: no-repeat;
		background-position: center;
		width: 610px;
		height: 458px;
	}
	
	div#gallery {
		width: 90px;
		height: 470px;
		float: right;}
	}
}

