footer {
    background: RGB(55, 86, 153);
    color: white;
    margin: auto;
    border-top: 1px grey solid;
}

footer p {
    text-align: center;
}

table.table td {
    width: 20em;
}

.notaFinal p {
    text-align: right;
    font-weight: 700;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

/* Menú */

#ver {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

#ver img {
    width: 20%;
    display: block;
    margin: auto;
}

#btn-menu {
    display: none;
}

#btn-menu:checked ~ #ver {
    display: block;
    height: 100vh;
}

#btn-menu:checked ~ #ver li{
    margin: auto;
    width: 10em;
    border-bottom: 1px white solid;
}
    
.fa {
    font-size: 2em;
    cursor: pointer;
}

.superior{
    z-index: 100;
    position: absolute;
}

.image{
    text-align: center;
}

a.button-a{
    display: inline-block;
    background: #5cb85c;
    color: white;
    padding: .5em;
    margin: .2em;
    border-radius: 5px;
    text-decoration: none;
}

.container {
    min-height: calc(100vh - 112px);
}

form {
    text-align: center;
}

input, textarea {
    width: 10em;
}

label {
    text-align: left;
    width: 10em;
    display: block;
    margin: auto;
}

#imagen-activa {
    max-width: 100%;
}

.imagenes img:hover {
    filter: brightness(60%)
}

.current-image {
    border: 1px black dotted;
    filter: brightness(120%)
}


@media (min-width:574px) {
    body {
        position: relative;
        min-height: 100vh;
        padding-bottom: 81px;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    #ver {
        background: none;
        display: block;
        position: relative
    }
    #btn-menu {
        display: none;
    }
    .fa {
        display: none;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .nav-item {
        display: inline-block;
    }
    
    nav ul {
        display: inline;
    }
    
    #contenido {
        text-align: center;
    }
   
    
}